<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtit.minhtien.databasesqlitesaveimage">

    <!--xin quyền được sử dụng máy ảnh: Có thêm code xin quyền và lấy câu tl của người dùng trong file.java-->
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <!--xin quyền đọc bộ nhớ, lấy dữ liệu ra (ở đây ta lấy ảnh)-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThemDoVatActivity"></activity>
    </application>

</manifest>